<!DOCTYPE html>
<!-- Header -->
<header>
    <div class="nav text-allign-center">
        <!-- <img src="assets/icon/appLogo.jpg" alt="LOGO" height="90%"> -->
        <h3 class="headerTitle">Audit Management Application</h3>
        <!-- user-info -->
        
        <img class="username-pic" *ngIf="user.logStatus" src="https://img.icons8.com/officel/16/000000/user.png" alt="LOGO"  height="90%">
        <div class="userInfo" *ngIf="user.logStatus">
            <h4>{{ user.username | titlecase }}</h4>
        </div>
        <!-- logout -->
        <input class="logout-pic" *ngIf="user.logStatus" type="image" src="https://img.icons8.com/dusk/64/000000/logout-rounded-left.png" title="Logout" alt="Logout" width="48" height="48" (click)="logout()"><i class="fa-solid fa-arrow-up-left-from-circle"></i>
    
    </div>
</header>